<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DatabaseManager.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>dbEAAATSsdsd</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123123</value>
            </setting>
        </DatabaseManager.Properties.Settings>
    </userSettings>
</configuration>